

.button {
    &_orange {
        letter-spacing: 1.5px;
        border-radius: 49px;
        box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.32);
        background-color: #f28500;
        text-align: center;
        padding: 14px 71px;
        width: fit-content;
        display: block;
        transition: all;
        
    }
    &_black {
        letter-spacing: 1.5px;
        box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.32);
        text-align: center;
        padding: 14px 71px;
        width: fit-content;
        border-radius: 17px;
        border: solid 1px rgba(255, 255, 255, 0.33);
        background-color: rgba(255, 255, 255, 0.15);
        display: block;
        transition: all;
        

        &:hover {
            background-color: #f28500;
        }
    }
}

@media (max-width: 690px) {
    .button_orange {
        padding: 6px 45px;
    }
}